*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
ul{
	list-style:inline-block
    background:black;
}
ul li{
	display: inline-block;
	position:relative;
}
ul li a{
	padding:20px 20px;
   text-decoration: none;
   color:white;
   font-size:30px;
   position:center;
   top:60px;
   font-family: system-ui;
   height:20px;
}
 
 ul li a:hover{
	 background: gold;
	 border-radius: 15px;
	 color:black;
 }
.one{ background-color: black;
color: white;
height:190px;
font-size : 80px;
text-align: center;
border-radius: 15px; font-family:impact;
}
p{
margin-top:10px;}
.p1{ height :80px;
position: relative;
top:10px; border-radius: 200px;
margin-bottom:0px;
}
.two{background-color:purple;
height:10px; position:relative;
width:100%;
}

.three{ background-color:black;
text-align:center;
height:55px;
border-radius: 15px;position:relative;
}

#submenu{
	top:20px;
	left:0;
	opacity:0;
	position:absolute;
	visibility:hidden;
	z-index:7;
}
li:hover ul#submenu{
	opacity:1;
	top:60px;
	visibility:visible;
	background-color:black;
	color:black;
	border-radius:15%;

     a{
		 padding:5px 5px;	
         
	 }
}
.store{
	position:relative;
	font-size:100%;
	top:1%;
	width:100%;
	height:5%;
	border-radius:10%;
	background-image:radial-gradient(black 50%,gray);
	color:white;
}
.store-text{
	font-family: system-ui;
	position:relative;
	left:42%;
	top:5%;
	letter-spacing:3px;
	font-size:130%;
}
.cursive{
	font-family:cursive;
	position:relative;
	letter-spacing:3px;
}
.flex-container{
	display:flex;
	width:100%;
	height:auto;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
	background:url("E:\\html\\madridista shopping.png");
	background-size:cover;
	background-position:center;
	background-repeat:no repeat;
	border-radius:2%;
	position :relative;
	top :1.5%;
	column-gap:5%;
}
.flexbox{	
	width:20%;
	height:90%;
	margin:1.5%;
	position :relative;
	left :0.1%;
	border-radius:6%;
	background-color:gray;
	display:flex;
	align-items:flex-end;
	transition:.6s ease-out;
	box-shadow:o 20px 20px rgba(0,0,0,2);
}
.flexbox:hover{
	transform:translateY(15px);
}
.flexbox:hover:before{
	opacity: 1;
}
.flexbox:hover .text{
	opacity: 1;
	transform: translateY(0);
}
.flexbox:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background:linear-gradient(to top,#000,transparent);
	z-index: 2;
	transition:0.5s;
	opacity: 0;
	border-radius:6%;
}
.flexbox .text{
	position:relative;
	right:95%;
	bottom:20px;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform:translateY(25px);
	transition:0.5s;
}
.p2{
	position:relative;
	width:100%;
	border-radius:6%;
}
#submenu{
	top:50px;
	left:0;
	opacity:0;
	position:absolute;
	visibility:hidden;
	z-index:7;
}
li:hover ul#submenu{
	opacity:1;
	top:60px;
	visibility:visible;
}
button{
	background-color:#ff4122;
    color:white;
	border-radius:20%;
	font-size:130%;
	font-family:sans-serif;
}