*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-image:url(https://www.bhmpics.com/downloads/light-purple-background/35.abstract-background-white-light-blue-purple-color-gradient-defocused-picture-id1303182525.jpg);
	background-size:cover;
	background-position:center;
	box-sizing: border-box;
}
ul{
	list-style:inline-block
    background:black;
}
ul li{
	display: inline-block;
	position:relative;
}
ul li a{
	padding:20px 20px;
   text-decoration: none;
   color:white;
   font-size:30px;
   position:center;
   top:10px;
   font-family: system-ui;
   height:20px;
}
 ul li ul.dropdown li{
display:block;
text-align:center;
 }
 ul li ul.dropdown{
	 width:100%;
	 background:#343434;
	 position:absolute;
	 z-index:999;
	 display:none;
	 border-radius: 15px;
 }
 ul li ul.dropdown a{
	padding:5px 25px;
   text-decoration: none;
   color:white;
   font-size:22px;
   position:center;
   font-family:sans-serif;
}
 ul li a:hover{
	 background:gold;
	 border-radius: 15px;
 }
 ul li:hover ul.dropdown{
	 display:block;
 }
 ul li ul.dropdown a:hover{
	 background:#AA98A9;
	 border-radius: 15px;
 }
	 
h1{
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 32px;
}

a,a:hover,a:active{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    height: auto;
}

.dFlex{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    &.aic{
        align-items: center;
    }
    &.jcc{
        justify-content: center;
    }
    &.jcsb{
        justify-content: space-between;
    }
    &.fdc{
        flex-direction: column;
    }
}

.dGrid{
    display: grid;
}

.container{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.btn{
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .05em;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;

    &.primary{
        background: #0057ff;
        border-color: #0057ff;
        color: #fff;
        &.tBg{
            background:blue;
            color:white;
            border-color: transparent;
        }
    }

    &:hover{
        &.primary{
            letter-spacing: .08em;
        }
        &.secondary{
            background: #0057ff;
            border-color: #0057ff;
            color: lilac;
        }
    }
}

.one{ background-color: black;
color: white;
height:190px;
font-size :80px;
text-align: center;
border-radius: 15px; font-family: impact;
}
p{
margin-top:-8px;}
.p1{ height:80px;
width:80px;
position:relative; border-radius: 200px;
top:10px;margin-bottom:0px;
}

.two{
background-color:purple;
height:10px;
position:relative;
width:100%;
}

.three{ background-color:black;
position:relative;height:55px;
text-align:center;
border-radius: 15px;
}
a{ padding:20px 20px;
text-decoration: none;
color:white;
font-size:30px;
position:center;
left:1px;
top:10px;
font-family: system-ui;
height:20px;
}
a:hover{ 
background-color:gold;
color: black;
border-radius: 15px;
}
.four{
background-color:#343434;
color: white;
height:70px;
font-size : 50px;
text-align: center;
border-radius: 15px; font-family: impact;
}
.five{
	height:auto;}
#blogSec{
    background: #E6E6FA;
    color: #000;
    .item{
        width: calc(100% / 3 - 4px);
        border: 1px solid #eceff8;
        padding: 20px;
        height: 430px;
        overflow: hidden;
        position: relative;
		background:#CBC3E3;
		border-radius:50px;
        .imgArea{
            height: 200px;
            width: 100%;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
				  }
        }
		 a:hover{ 
                      background-color:#AA98A9;
                      color: black;
		              border-radius: 15px;
		 }
        .textArea{
             .category{
				 a{
                    padding:3px 20px;
                    background: #eceff8;
                    color: #151515;
                    border-radius: 50px;
                    font-weight: 700;
                    display: inline-block;
					font-family:sans-serif;
					font-size:15px;
                   }
                 a:hover{ 
                  background-color:#AA98A9;
                  color: black;
		          border-radius: 15px;
				  }
 }
            h1{ margin:10px 10px;
                font-size: 25px;
                font-weight: 600;
            }

            button{
                position: absolute;
                left: 20px;
                bottom: 20px;
            }
        }
    }
}
.six{
	 background-color: gray;
     color: white;
     height:255px;
     font-size : 20px;
     text-align: center;
     font-family: system-ui;
	 ul{ 
	     padding:5px;
	     margin:2px;
		 .fa-instagram{
          font-size:70px;
		  color:red;
        }
		}
	 p{
       margin-top:10px;}
	 a{ padding:5px 5px;
       text-decoration: none;
       color:white;
       font-size:10px;
       position:center;
       left:1px;
       top:10px;
       font-family: system-ui;
       height:20px;
       }
       a:hover{ 
       background-color:gold;
       color: black;
       border-radius: 15px;
       }
    } 

.p2{height:80px;
width:80px;
position: relative;
top:10px; border-radius: 100px;
}
.copy{
        background: #151515;
        p{
			color:white;
            font-size: 14px;
            font-weight: 600;
            opacity: .7;
            letter-spacing: .05em;
        }
    }
